@using Seminar_1.Models
@model IEnumerable<Don>

<div class="panel-body widget-shadow">
    <h3 style="padding-bottom:30px;">Đơn đang vận chuyển</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Mã đơn</th>
                <th>Mã người mua</th>
                <th>Mã người bán</th>
                <th>Ngày đặt</th>
                <th>Ngày giao</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@item.MaD.ToString()</th>
                <td>@item.MaNguoiMua.ToString()</td>
                <td>@item.MaNguoiBan</td>
                <td>@item.NgayDat.ToString()</td>
                <td>@item.NgayGiao.ToString()</td>
            </tr>
            }
        </tbody>
    </table>
</div>


